/*
* By: Chris Jimenez
*
* CSS for Predator vs. Prey project site
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  background-color: #454458;
  color: white;
}

h1 {
  text-align: center;
  font-size: 8em;
  margin: auto;
}

p{
  color: darkgrey;
}


.alert-danger{
  font-family: Arial;
  padding:0.3em;
  border: red solid 1px;
}

.icon{
	float: left;
	width: 2em;
	height: 2em;
	margin: auto;
}



/* BUTTON STYLE */
.btn {
  display:block;
}

#button-text {
  color: white;
  padding: 0.5em;
}